<div class="main-container">
<div class="container">
  <fieldset>
    <form id="home-search" action="/search" method="get">
      <input type="text" name="search" class="ghost-input" placeholder="Search" required>
      <input type="submit" class="ghost-button" value="Search">
    </form>
  </fieldset>
</div>
<div>
  <button id="toggle">Post an Ad ?</button>
</div>
<div id="target">
  <fieldset>
    <form id="post-form" action="/post" method="post">
      <input type="text" name="title" class="post-ghost-input" placeholder="Title" required>
      <input type="text" name="description" class="post-ghost-input" placeholder="A little bit of description" required>
      <input type="text" name="pincode" class="post-ghost-input" placeholder="Pincode" required>
      <input type="text" name="address" class="post-ghost-input" placeholder="Address" required>
      <input type="submit" class="post-button" value="Post the Ad">
    </form>
  </fieldset>
</div>
</div>
